<h1>Members Only</h1>

<% @posts.each do |post| %>
<div>
  <h2><%= post.title %></h2>
  <p><%= post.content %></p>
  <% if user_signed_in? %>
    <p>Posted by: <%= post.user.username %></p>
  <% end %>
</div>
<% end %>